body {
  font-family: Roboto, sans-serif;
  margin: 0;
  display: flex;
  font-size: 14px;
  color: #333;
  background-color: #f8f9fa;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
}

.icon-text {
  display: flex;
  align-items: flex-start;
}

.logo img {
  max-width: 100%;
  margin-bottom: 5px;
  margin-right: 8px;
}

.sidebar-start {
  margin-top: 46px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.badge {
  background-color: black;
  color: white;
  padding: 3px 5px;
  border-radius: 3px;
  margin-left: 64px;
}

.user-profile {
  display: flex;
  justify-content: space-around;
  align-items: anchor-center;
  padding: 4px;
  border: 1px solid black;
  border-radius: 4%;
  background-color: #fffcfc;
  margin-top: 20px;
  text-align: center;
}

.user-details {
  display: flex;
  align-items: anchor-center;
}
/* 
.user-profile img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
} */

.user-details h3 {
  margin: 0 0 5px 0;
  font-weight: 500;
}

.user-details p {
  margin: 0;
  font-size: 12px;
  color: #888;
}

.username {
  margin-left: 37px;
}

/* Main content styles */
.content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header h2 {
  margin: 6px 0px 9px 0px;
  font-size: 1.5em;
  font-weight: 600;
}

header p {
  font-size: 14px;
  color: #888;
  margin: 0 0 9px 0px;
}

.header-buttons {
  display: flex;
}

header button {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  /* background-color: #007bff;
  color: white; */
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.export-btn {
  background-color: white;
  color: black;
  border: 1px solid #e4dddd;
}

.invite-btn {
  background-color: black;
  color: white;
}

.customer-metrics {
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* .metrics {
  text-align: left;
} */

.metrics {
  background-color: white;
  border: 1px solid white;
  padding: 25px;
  margin: 20px 20px 20px 20px;
  width: 33%;
}

.metrics-details {
  display: flex;
  justify-content: space-between;
}

/* .metrics-name {
  text-align: center;
} */
.metrics h3 {
  font-size: 14px;
  font-weight: 100;
  color: #888;
  margin: 0 0 5px 0;
}

.value {
  font-size: 2.2em;
  font-weight: 600;
}

.change {
  font-size: 0.8em;
  color: #888;
  margin-left: 5px;
}

.list-header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.list-header h3 {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0;
  margin-bottom: 20px;
}

.list-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list-actions button {
  padding: 5px 10px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  font-size: 14px;
}

.list-actions input[type="search"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 5px;
  font-size: 14px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

th {
  background-color: #f6f6f6;
}

th:nth-child(1) {
  width: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #dee2e6;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

th {
  font-weight: 600;
  color: #888;
  font-size: 12px;
  text-transform: uppercase;
}

td input[type="checkbox"] {
  margin-right: 5px;
}

td img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
}

td span {
  display: block;
  font-size: 12px;
  color: #888;
}

.bottom-section {
  /* margin-top: auto; */
  margin-top: 310px;
}

@media (max-width: 1400px) {
  .customer-metrics {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  table {
    display: block;
    overflow-x: auto;
  }
}

.sidebar {
  background-color: #f6f6f6;
  height: 100vh;
}

.sidebar-footer {
  padding-top: 20px;
  border-top: 1px solid #ddd;
}

.role-creator {
  border: 1px solid;
  background-color: #b0e8ff;
  border-radius: 4px;
  padding: 4px;
  width: max-content;
}

.role-general {
  border: 1px solid;
  border-radius: 4px;
  padding: 4px;
  width: max-content;
  background-color: #edd3a2;
}

.role-admin {
  border: 1px solid;
  background-color: #c11fc14f;
  border-radius: 4px;
  padding: 4px;
  width: max-content;
}

.change-negative {
  border: 1px solid;
  background-color: #ddc0c0;
  border-radius: 4px;
  padding: 9px 4px 8px 4px;
  width: max-content;
}

.change-positive {
  border: 1px solid;
  background-color: #c9ddc9;
  border-radius: 4px;
  padding: 9px 4px 8px 4px;
  width: max-content;
}

.filter-comp {
  display: flex;
  justify-content: space-around;
  align-items: anchor-center;
}

.search-filter {
  display: flex;
  justify-content: space-around;
  align-items: anchor-center;
}

.tuhel {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-left: 6px;
}
